{% extends 'base/main.html' %}
{% block content %}


<div class="uk-card uk-card-body uk-padding-large">
    <h2 class="uk-card-title uk-text-center uk-text-large">Нэвтрэх хэсэг</h2>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input class="uk-button uk-button-large uk-button-primary" type="submit" value="Нэвтрэх">
    </form>
    <p class="uk-text-center uk-text-large"><a href="{% url 'register' %}">Бүртгүүлэх</a></p>
</div>






{% endblock content %}