{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ESSENTIALS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- WEB IDENTITY -->
    <title>B.Battseren</title>
    <meta name="description" content="EMAIL: bbattseren88@gmail.com, TEL: +976 91912840">

    <!-- GOOGLE FONT-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> 

    <!-- STATIC CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <div class="uk-container uk-container-xsmall uk-margin-large-top">
        <div class="uk-box-shadow-xlarge uk-border-rounded">
            {% block content %} {% endblock content %}
        </div>
    </div>
</body>


</html>