{% extends 'base/main.html' %}
{% block content %}

<div class="uk-card uk-card-body uk-padding-large">
    <h2 class="uk-card-title uk-text-center uk-text-large">Бүртгүүлэх хэсэг</h2>
    <form method="POST">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}

        <label>{{form.password1.label}}</label>
        {{form.password1}}

        <label>{{form.password2.label}}</label>
        {{form.password2}}

        <input class="uk-button uk-button-large uk-button-primary uk-margin-top" type="submit" value="Бүргүүлэх">
    </form>
    <p class="uk-text-center uk-text-large"><a href="{% url 'login' %}">Нэвтрэх</a></p>
</div>

{% endblock content %}