{% extends 'base/main.html' %} {% block content %}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>


<div class="uk-card uk-card-body uk-padding-large">
    <p class="uk-text-center">
        Дуусгаагүй  <b>{{count}}</b> даалгавар байна.
        
        {% if request.user.is_authenticated %}
            <a class="uk-button uk-button-primary uk-margin-xlarge-left" href="{% url 'logout' %}"><span uk-icon="sign-out"></span> Гарах</a>
        {% else %}
            <a class="uk-button uk-button-primary uk-margin-xlarge-left" href="{% url 'login' %}"><span uk-icon="sign-in"></span> Нэвтрэх</a>
        {% endif %}  

        <div id="search-add-wrapper">
            <form method="GET" class="uk-search uk-search-default">
                <button class="button" type="submit" uk-search-icon value='Хайх'></button>
                <input class="uk-search-input" type='search' name='search-area' placeholder="Даалгавар хайх..." value="{{search_input}}">
            </form>

            {% if tasks|length > 0 %}
            <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
            {% endif %}
        </div> 
    </p>             
</div>

<form style="display: none;" id="reorderForm" method="post" action="{% url 'task-reorder' %}">
    {% csrf_token %}
    <input type="hidden" id="positionInput" name="position">
</form>

<div id="tasklist" class="uk-card uk-card-body uk-padding-large">
    {% for task in tasks %}
    <div class="task-wrapper" data-position="{{task.pk}}">
        <div class="task-title">
            {% if task.complete %}
            <div class="task-complete-icon"></div>
            <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i> {% else %}
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'task-update' task.id %}">{{task}}</a> {% endif %}
        </div>
        <div class="task-controls">
            <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
            <span class="handle">&nbsp;&#10247;</span>
        </div>
    </div>

    {% empty %}
    <div class="uk-text-center">
        <h3>Даалгавар байхгүй байна.</h3>
        <a class="uk-button uk-button-primary uk-button-large" href="{% url 'task-create' %}"><span uk-icon="plus"></span> Нэмэх </a>
    </div>
    {% endfor %}
</div>

<script>
    var taskList = document.getElementById("tasklist");
    var reorderForm = document.getElementById("reorderForm");
    var positionInput = document.getElementById("positionInput");

    let sortable = Sortable.create(taskList, {
        handle: '.handle',
        ghostClass: 'dropArea',
        chosenClass: 'selectedTask',

    });

    function reordering() {
        const rows = document.getElementsByClassName("task-wrapper");
        let pos = [];
        for (let row of rows) {
            pos.push(row.dataset.position);
        }
        console.log(pos.join(","))
        positionInput.value = pos.join(',');
        reorderForm.submit();
    }

    document.ondrop = reordering
</script>

{% endblock content %}