{% extends 'base/main.html' %}
{% block content %}

<div class="card-body">
    <a class="uk-button uk-button-large uk-button-primary" href="{% url 'tasks' %}">&#8592; Буцах</a>
    <form method="POST">
        {% csrf_token %}
        <p>Энэ даалгаврыг устгахдаа итгэлтэй байна уу ? <b>"{{task}}"</b> </p>
        <input class="uk-button uk-button-large uk-button-primary" type="submit" value="Устгах" />
    </form>
</div>



{% endblock content %}