{% extends 'base/main.html' %}
{% block content %}

<div class="uk-card uk-card-body uk-padding-large">
<a class="uk-button uk-button-large uk-button-primary" href="{% url 'tasks' %}">&#8592; Буцах</a>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input class="uk-button uk-button-large uk-button-primary" type="submit" value="Нэмэх">
    </form>
</div>


{% endblock content %}